@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
body {
    background-color: #fcfcfc;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
a, a:visited {
    text-decoration: none;
    color: #000;
}
/* light grey backgrounds */
.btn, #search {
    background-color: #f9f9f9;
}
/* dark grey backgrounds */
.btnSite, .btnAll, input[type='submit']  {
    background-color: #eee;
}
main {
    padding-top: 120px;
}
header {
    padding-left: 25px;
    position: absolute;
    top: 15px;
    right: 100px;
    font-size: 83%;
    color: #888;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-arrow-up-circle" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/></svg>');
    background-repeat: no-repeat;
}
footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="grey" class="bi bi-question-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    margin: 0;
    font-weight: 300;
}
h1 span {
    margin-right: 2px;
    font-size: 55%;
}
h2 {
    margin: 10px 0 18px 0;
    font-weight: 300;
}
input {
    margin: 2px;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 120%;
    font-family: inherit;
}
input:focus-visible {
    outline: none;
}
input[type='submit'] {
    font-size: 105%;
}
form {
    margin: 0;
}
form div {
    margin: 10px 0 14px 0;
    font-size: 83%;
    color: #aaa;
}
.btns {
    margin-bottom: 8px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.btn, .btnAll {
    margin: 4px;
    position: relative;
    width: 145px;
    height: 95px;
    float: left;
    border: 1px solid #bbb;
    border-radius: 5px;
    cursor: pointer;
}
.btnSite {
    padding: 4px 0 2px 0;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    font-size: 85%;
    white-space: nowrap;
    overflow: hidden;
}
.btnSite img {
    margin: 0px 5px 3px 3px;
    vertical-align: middle;
}
.btnTxt, .btnAll div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btnTxt {
    margin: 6px 2px 0 2px;
    color: #bbb;
    font-size: 105%;
}
.btnTxt span {
    color: #000;
}
.btnTxt small {
    font-size: 80%;
}
.btnAll {
    color: #bbb;
    font-size: 80%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"/><path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: 95% 10%;
}
.btnAll span {
    color: #000;
    font-size: 130%;
}
.btnAll div {
    margin-top: 30px;
}
/* hover shadow */
.btn, .btnAll, input {
    transition: box-shadow .3s;
}
.btn:hover, .btnAll:hover, input:hover, input:focus-visible {
    box-shadow: 0 0 10px rgba(33,33,33,.3); 
}
/* fade-in */
.hidden {
    opacity: 0;
}
.fade {
    animation: fade .3s;
}
@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;} 
}
